<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlumnoControlador</servlet-name>
        <servlet-class>servlet.AlumnoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCalificacion</servlet-name>
        <servlet-class>servlet.ControladorCalificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAsignatura</servlet-name>
        <servlet-class>servlet.ControladorAsignatura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumnoControlador</servlet-name>
        <url-pattern>/AlumnoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCalificacion</servlet-name>
        <url-pattern>/ControladorCalificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAsignatura</servlet-name>
        <url-pattern>/ControladorAsignatura</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>MySQL WorkBrench</description>
        <res-ref-name>jdbc/mysql</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
