
/* 
    Created on : 23 jun 2022, 21:15:04
    Author     : Rafaelito
*/

.fondo{
            margin: 0 auto;
            background: url(fondo.png)no-repeat 0px 0px;
            background-size: cover;
            background-position: center;
            padding: 30px 33px 67px;
            border-top: 6px solid aqua;
            box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
        }

body{
    font-family: sans-serif;
    width: 100%;
    text-transform: uppercase;

    background-size: cover;
    padding-top: 200px;

}

h1{
    text-align:  center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 35px;
    color: #fff;
}